# Mark non-Rocq files as vendored to exclude them from language stats
Makefile linguist-vendored
_CoqProject linguist-vendored
LICENSE linguist-vendored
README.md linguist-vendored

# Directories
.devcontainer/** linguist-vendored
.github/** linguist-vendored
.vscode/** linguist-vendored
assets/** linguist-vendored
